.bg {
  background-color: var(--hex-color, initial);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: block;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: 0px 0px 10px #6b6b6b;
  border-radius: 15px;
  background-color: #ffffff;
  text-align: center;
}
.smol {
  font-size: 0.8em;
  color: #6b6b6b;
}
.headline {
  font-size: 2em;
  margin: 0;
}

.after-headline {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.color {
  color: var(--hex-color, initial);
}
.characteristics {
  text-align: left;
}
.description {
  color: #6b6b6b;
  font-style: italic;
}